#events
    margin: 100px 0

#services
    background-color: #ce2d4f
    padding: 100px 0

#quickLinks
    margin: 100px 0
    .row
        background-color: #ce2d4f
        margin: 50px 0
        ul
            li
                color: #ffffff