#events
    margin: 100px 0
    .design
        width: 75px
        height: 75px
        border-radius: 13px
        transform: rotate(45deg)
        background-color: #ce2d4f
        margin: 40px auto
        display: flex
        justify-content: center
        align-items: center
        i
            color: #ffffff
            transform: rotate(-45deg)
    p
        color: #b6b7bc

#services
    background-color: #ce2d4f
    padding: 100px 0
    p
        font-size: 0.8rem
        line-height: 1.5rem

#quickLinks
    margin: 100px 0
    p
        color: #b6b7bc
        font-size: 0.8rem
    .row
        background-color: #ce2d4f
        margin: 50px 0
        .special
            display: flex
            flex-direction: column
        ul
            flex-grow: 1
            margin-bottom: 0
            padding-left: 5px
            display: flex
            flex-direction: column
            justify-content: space-between
            li
                color: #ffffff
                list-style: none
                .fa
                    color: #fa849c
                    margin-right: 10px


$break: 768px

@media screen and (max-width: $break)
        #quickLinks
            ul
                flex-wrap: wrap
                height: 100px
            .container
                div:nth-child(3)
                    .special
                        order: 100
                h2
                    text-align: center
                    margin-top: 20px