header
    height: 500px
    background: url("../images/banner.jpg")
    color: white
    nav.navbar-light
        .navbar-brand
            font-size: 2.5rem
        button.navbar-toggler
            background-color: #ce2d4f
            border-radius: 0
        ul
            li
                a
                    font-size: 0.8rem

    >div
        margin: auto 20px
        text-align: center
        >h2
            word-spacing: 0.5rem
        >p
            font-size: 0.8rem
            margin-top: 2rem
    
    
@media all   